<div class='center hero-unit'>
<h1>About</h1>
<p>
With so many beautiful murals all over the City, there should be a place to collect them, this will do that. In addition, it will allow users to geotag their images. The layout will be similar to Pinterest. 
</p>
</div>